@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button{
  cursor:pointer;
}

li{
  list-style:none ;
}


.SiteWrapper{
  display: grid;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex:1;
  overflow-x: hidden;
}

.site-title{
  color:whitesmoke
}

.header{
  background-color:#8BDBE3;
}

.d-flex{
  display: flex;
}

.content{
  background-color: green;
}

.sub-section{
  background-color: black;

}

.footer{
  background-color:#8BDBE3;
}
